/* general style */
body {
  font-family: "Poppins", sans-serif;
  padding: 50px 150px;
  margin: 0;
  background-color: #eef2ff;
}
/* nav */
.navigation {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}

li {
  display: inline;
  padding-left: 30px;
}

/* top section style */
.head-section {
  display: flex;
  padding: 0 100px 100px;
}

.header-item {
  width: 50%;
}

.main-heading {
  font-size: 50px;
}

.main-image {
  display: block;
  margin: auto auto;
}

.request {
  position: relative;
  top: 50px;
  color: white;
  background-color: #e02c6d;
  padding: 10px 10px;
  border-radius: 50px;
  border: 0;
  text-decoration: none;
}

/* stores */
.stores {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

/* products */
.product-title {
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  width: 435px;
  height: 532px;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px white;
}

.product-info h3,
p {
  margin: 0px;
  padding: 5px 0;
}

.rating {
  display: flex;
  align-items: center;
}

.rating p {
  padding-left: 10px;
}

.see-more {
  text-align: right;
}

.see-more a {
  color: #e02c6d;
}
